QPushButton{
             color: white;
             background-color:"#383533";
             border-radius: 5px;
             border-style: flat;
           }

QPushButton:pressed{
           background-color:"#1e1b18";
           border-radius: 5px;
}
